<%- include('partials/header', {currentUser: currentUser}) %>

<!-- page title -->
<i class="fas fa-envelope title-icon"></i>
<h1>Contact</h1>
<p>Do you have any questions or ideas?</p>
<hr>

<!-- success flash messages -->
<%  if (typeof okFlash != "undefined") { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= okFlash %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>

<!-- failure flash messages -->
<%  if (typeof errFlash != "undefined") { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= errFlash %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>

<!-- page content -->
<div class="jumbotron centered">
  <div class="container">

    <!-- alerts for express-validator -->
    <%  if (typeof alert != "undefined") { %>
    <%  alert.forEach((error) => { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= error.msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% }) %>
    <% } %>

    <!-- contact form -->
    <form name="contact-form" class="yellow-form p-4" action="/contact" method="POST" novalidate>
      <div class="form-group">
        <input type="email" class="form-control m-1" name="usersEmail" placeholder="Your E-mail">
        <textarea class="form-control m-1" name="message" rows="8" cols="50" placeholder="Your Message"></textarea>
      </div>
      <button class="btn btn-lg btn-dark" type="submit">Send</button>
    </form>

  </div>
</div>

<%- include('partials/footer') %>
