<%- include('partials/header', {currentUser: currentUser}) %>

<!-- success flash message -->
<%  if (typeof greenFlash != "undefined") { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= greenFlash %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%  } %>

<!-- page title -->
<i class="fas fa-edit title-icon"></i>
<h1>Edit Your Jokes</h1>
<p>Tap on the text to start editing.</p>
<hr>

<!-- page content -->
<div class="jumbotron centered">
  <div class="container">

    <!-- Find all jokes of current user and make them editable -->
    <% postedJokes.reverse().forEach((joke) => {  %>
    <div class="m-2 joke-text-div-edit">
      <div class="form-group">
        <div class="form-group m-4">
          <form class="update-form " action="/update" method="post">

            <textarea class="joke-text form-control text-center textarea-edit-joke p-4" name="textarea"><%= joke.joke %></textarea>
            <button class="btn btn-lg btn-warning float-right m-1" type="submit" name="save" value="<%= joke._id %>">Save Changes</button>
          </form>
          <form class="delete-form" action="/delete" method="post">
            <input type="hidden" name="content" value="<%= joke.joke %>" />
            <!-- trigger the modal -->
            <button type="button" class="btn btn-lg btn-dark float-right m-1" data-toggle="modal" data-target="#myModal">Delete</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title mx-auto">Confirm Deletion</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p class="mx-auto">Are you sure you want to delete this joke?</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-dark float-right m-1" type="submit" name="delete" value="<%= joke._id %>">Delete Joke</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%  }) %>

  </div>
</div>

<%- include('partials/footer') %>
