<%- include('partials/header', {currentUser: currentUser}) %>

  <i class="fas fa-edit fa-6x"></i>
  <h1>Edit posted jokes</h1>
  <p>Tap on the text to start editing.</p>
<hr>
<div class="jumbotron centered">
  <div class="container">

    <% postedJokes.forEach((joke) => {  %>
      <div class="m-2 joke-text-div-edit">
        <div class="form-group">
      <div class="form-group m-4">
        <form class="update-form " action="/update" method="post">

        <textarea class="joke-text form-control text-center textarea-edit-joke p-4" name="textarea"><%= joke.joke %></textarea>
        <button class="btn btn-lg btn-warning float-right m-1" type="submit" name="save" value="<%= joke._id %>">Save Changes</button>
      </form>
        <form class="delete-form" action="/delete" method="post">
        <input type="hidden" name="content" value="<%= joke.joke %>"/>
          <button class="btn btn-lg btn-dark float-right m-1" type="submit" name="delete" value="<%= joke._id %>">Delete Joke</button>
        </form>
        </div>
      </div>
      </div>
    <%  }) %>

  </div>
</div>
<%- include('partials/footer') %>
