<%- include('partials/header', {currentUser: currentUser}) %>

    <i class="fas fa-laptop-code fa-6x"></i>
    <h1>Programming Jokes</h1>
    <p>Know a good programming joke? Share it!</p>
    <a class="btn btn-warning btn-lg" href="/submit">Submit a joke!</a>
    <hr>
    <div class="jumbotron centered">
      <div class="container">

    <!-- Include an if-else statement for the case if there are no jokes posted yet (else) -->
    <!-- the user after classical login did not get rendered the page, because the usersWithJokes was undefined -->
      <%  if (typeof usersWithJokes != "undefined") { %>
        <!-- Loop through an array of jokes to get the contents -->
          <% usersWithJokes.forEach((user) => { %>
            <%  let arrayOfJokes = user.jokes %>
            <% arrayOfJokes.forEach((joke) => {  %>
              <div class="joke-text m-4 p-4">
                <p><i class="fas fa-terminal text-warning"></i>&nbsp;&nbsp;<%= joke.joke %></p>
                <form class="flag-inappropriate" action="/flag" method="post">
                <button class="float-right icon-btns" type="submit" name="flagBtn" value="<%= joke._id %>" data-toggle="tooltip" data-placement="bottom" title="Flag as inappropriate"><i class="far fa-flag icon-btns-icons"></i></button>
                </form>
              <%  if (joke.liked === "false") { %>
                  <form class="like-heart" action="/like" method="post">
                    <button class="float-right icon-btns" type="submit" name="likeBtn" value="<%= joke.joke %>" data-toggle="tooltip" data-placement="bottom" title="Add to favourites"><i class="far fa-heart icon-btns-icons <%= joke.liked %>"></i></button>
                  </form>
              <%  } else { %>
                  <form class="like-heart" action="/dislike" method="post">
                    <button class="float-right icon-btns" type="submit" name="dislikeBtn" value="<%= joke.joke %>" data-toggle="tooltip" data-placement="bottom" title="Add to favourites"><i class="far fa-heart icon-btns-icons <%= joke.liked %>"></i></button>
                  </form>
              <%  } %>
              </div>
              <%  }) %>
              <% }) %>
    <%    } else { %>
          <p>No jokes yet. Be the first to post.</p>
      <%  } %>
      </div>
    </div>

<%- include('partials/footer') %>
