<%- include('partials/header', {currentUser: currentUser}) %>

<!-- flash message -->
          <%  if (typeof flash != "undefined") { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= flash %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%  } %>

    <i class="fas fa-laptop-code fa-6x"></i>
    <h1>Programming Jokes</h1>
    <p>Know a good programming joke? Share it!</p>
    <a class="btn btn-warning btn-lg" href="/submit">Submit a joke!</a>
    <hr>
    <div class="jumbotron centered">
      <div class="container">

    <!-- Include an if-else statement for the case if there are no jokes posted yet (else) -->
    <!-- the user after classical login did not get rendered the page, because the usersWithJokes was undefined -->
      <%  if (typeof usersWithJokes != "undefined") { %>
        <!-- Loop through an array of jokes to get the contents -->
          <% usersWithJokes.forEach((user) => { %>
            <%  let number = 0;  %>
            <%  let arrayOfJokes = user.jokes %>
            <% arrayOfJokes.forEach((joke) => {  %>
              <%  number++;  %>
              <div class="joke-text m-4 p-4 id<%= number %>">
                <p><i class="fas fa-terminal text-warning"></i>&nbsp;&nbsp;<%= joke.joke%></p>
                <button class="float-right icon-btns" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard"><i class="far fa-copy icon-btns-icons"></i></button>
                </div>
              <%  }) %>
              <% }) %>
    <%    } else { %>
          <p>No jokes yet. Be the first to post.</p>
      <%  } %>
      </div>
    </div>

    <script type="text/javascript">

    </script>

<%- include('partials/footer') %>
